<div class="top-row">
    <div class="nav-header">
        <a class="site-brand" href="">Study Rooms</a>
        <button title="Navigation menu" class="menu-button" @onclick="ToggleNavMenu">
            <span class="menu-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="floor-plan">
                Visual Floor Plan
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="reservations">
                Reservations
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="user-accounts">
                User Account
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass
    {
        get
        {
            if (collapseNavMenu)
            {
                return "collapse";
            }

            return null;
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
