@page "/"

<PageTitle>Study Spot</PageTitle>

<h1>Study Spot</h1>

<p>
    Welcome to the study room reservation app. Use this app to view rooms,
    check room details, and view study room calendars.
</p>

<ul>
    <li><a href="/floor-plan">Visual Floor Plan</a></li>
    <li><a href="/reservations">Reservations</a></li>
    <li><a href="/user-accounts">User Account</a></li>
    <li><a href="/admin">Administration</a></li>
</ul>
